
# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.csproj.user
*.csproj.nuget.*
project.assets.json
project.nuget.cache
*.nuget.g.props
*.nuget.g.targets
*.nuget.dgspec.json

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
BuildOutput/

*~


node_modules/





